@import url('https://fonts.googleapis.com/css?family=Ubuntu');

header{
    text-align: center;
    border-bottom:  0.07em solid #0060ca;
    padding-bottom: 3%;
}

#imglogo{
    width: 22%;
    float: left;
    margin: 1% 0% 0% 3%;
    padding: 0;
}


.space{

    height: 100%;
    width: 100%;
}

body{
    background-color: #000;
    color: #fff;
    font-family: 'ubunto', verdana;
}

h1 {
    color:#DAA520;
}

p {
    font-size: 0.9em;
    line-height:1.7em;
    text-align:justify;
}

p strong {
    color:#6495ED;
}

p a {
    text-decoration: none;
    color:#6495ED;
}

p a:hover {
    color:#00BFFF;
}

abbr {
    text-decoration: none;
}
/*#logo{
    float:left;
    padding: 0%;
    width: 20%;
}*/

/*-------------------------------------------------------------------*/    
    #menu{
        display: inline;
        padding: 1% 5% 1% 2%;
    }
    
    #menu ul{
        list-style: none;
        margin: 1.7% 3% 0 0;
        padding: 0;
    }
    
    #menu ul li{
        position: relative;
        display: inline;
    }
    
    #menu ul li a{
        color: #fff;
        text-decoration: none;
        margin: 0.26em;
        display: inline-block;
        transition:background 0.2s linear 0s, color 0.2s linear 0s;
        transition:border-bottom 0.2s linear 0s, color 0.2s linear 0s;
        line-height:1.7em;
        z-index: 1;
        text-align:center;
        padding: 0.4% 3%;
        margin: 1% 4%;
        border-bottom: 0.07em solid #000;
    }
    
    #menu li ul{
		display: none;
    }

    #menu ul li a:hover{
		background: none;
		color: #0060ca;
		text-align:center;
		transition:background 0.2s linear 0s, color 0.2s linear 0s;
		transition:border-bottom 0.2s linear 0s, color 0.2s linear 0s;
		border-bottom: 0.07em solid #0060ca;
	}

    #menu li:hover ul{
		display: block;
		position: absolute;	
		width:99%;
    }

    #menu li:hover li{
		float: none;
		font-size: 0.69em;
		font-family: 'Montserrat' , verdana, arial, 'sans serif', impact;
    }

    #menu li:hover a{
		color: #fff;
		border-bottom: 0.0em solid #fff;
    }
  
/*-------------------------------------------------------------*/
#div1{
    background-color: #fff;
    color: #000;
    width: 21%;
	height: 70em;
    float: left;

}  

main{
	background-color: #000;   
    float: left;
    width: 57.5%;
	height: 70em;
	margin-left: 0.17%;
	

}
    
aside{
    background-color: #fff;
    width: 21%;
    height: 70em;
	float: left;
	margin-left: 0.17%;
}

#ttlogo{
    width: 15%;
    padding:0.7%;
}

#twitter{
    width: 100%;
    padding: 25%;
}
    
footer{
    float: right;
    height:4em;
    width: 100%;
    text-align: center;
    border-top: 0.07em solid #0060ca;
    }
    
/*-----------------------------SLIDER-----------------------------*/

#backSLider{
    width:100%;
    position:absolute;
    z-index:-1;
}

#backSlider img{
    position:absolute;
    width:40%;
    z-index:1

}

#backSlider img.active{
    z-index:3
}
