@import url('https://fonts.googleapis.com/css?family=Ubuntu');

header{
    text-align: center;
    border-bottom:  0.07em solid #0060ca;
}

#imglogo{
    width: 20%;
    float: left;
    margin: 0.5% 0% 0% 3%;
    padding: 0;
}


.space{
    height: 100%;
    width: 100%;
}

body{
    background-color: #000;
    color: #fff;
    font-family: 'ubunto', verdana;
}

h1 {
    color:#DAA520;
}

p {
    font-size: 0.9em;
    line-height:1.7em;
    text-align:justify;
}

p strong {
    color:#6495ED;
}

p a {
    text-decoration: none;
    color:#6495ED;
}

p a:hover {
    color:#00BFFF;
}

abbr {
    text-decoration: none;
}

.paragrafo {
    padding: 2%;
}


/*#logo{
    float:left;
    padding: 0%;
    width: 20%;
}*/

/*-------------------------------------------------------------------*/    
    #menu{
        display: inline;
        padding: 1% 5% 1% 2%;
    }
    
    #menu ul{
        list-style: none;
        margin: 0.5% 3% 0 0;
        padding: 0;
    }
    
    #menu ul li{
        position: relative;
        display: inline;
    }
    
    #menu ul li a{
        color: #fff;
        text-decoration: none;
        margin: 0.26em;
        display: inline-block;
        transition:background 0.2s linear 0s, color 0.2s linear 0s;
        transition:border-bottom 0.2s linear 0s, color 0.2s linear 0s;
        line-height:1.7em;
        z-index: 1;
        text-align:center;
        padding: 0.4% 2.2%;
        margin: 1% 2%;
        border-bottom: 0.07em solid #000;
        font-size:1.5em;
    }
    
    #menu li ul{
		display: none;
    }

    #menu ul li a:hover{
		background: none;
		color: #0060ca;
		text-align:center;
		transition:background 0.2s linear 0s, color 0.2s linear 0s;
		transition:border-bottom 0.2s linear 0s, color 0.2s linear 0s;
		border-bottom: 0.07em solid #0060ca;
	}

    #menu li:hover ul{
		display: block;
		position: absolute;	
		width:99%;
    }

    #menu li:hover li{
		float: none;
		font-size: 0.69em;
		font-family: 'Montserrat' , verdana, arial, 'sans serif', impact;
    }

    #menu li:hover a{
		color: #fff;
		border-bottom: 0.0em solid #fff;
    }
  
/*-------------------------------------------------------------*/
.propaganda{
    background-color: gray;
    width:80%;
    height: 36%;
    margin-left: auto;
    margin-right: auto;
}

#primeiro{
    width: 50%;
    height: 50%;
    background-color: orange;
    float:left;
}

#segundo{
    width: 50%;
    height: 50%;
    background-image: url("img/Marvel.png");
    float:right;
}

#terceiro{
    width: 50%;
    height: 50%;
    background-color: black;
    float:right;
}

#quarto{
    width: 50%;
    height: 50%;
    background-color: green;
    float:right;
}

.zoom{
    	-webkit-transition: 0.75s ease-in-out;
    	-webkit-transition-delay: 1s; 
    	transition: 0.75s ease-in-out;
    	transition-delay:ease-in 0.5s; 
}
.zoom:hover{
    	-webkit-transform: scale(1.1);
    	transform: scale(1.1);
}
/*------------------------------------------------------------*/
#div1{
    background-color: #fff;
    color: #000;
    width: 21%;
	height: 80em;
    float: left;
}  

#div1 a {
    display: block;
    line-height: 3em;
    text-align:center;
}

main{
	background-color: gray;   
    float: left;
    width: 58%;
	height: 80em;
}
    
aside{
    background-color: #fff;
    width: 21%;
    height: 80em;
	float: left;
}

#ttlogo{
    width: 15%;
    padding:0.7%;
}

#twitter{
    width: 100%;
    padding: 25%;
}
    
footer{
    float: right;
    height:4em;
    width: 100%;
    text-align: center;
    border-top: 0.07em solid #0060ca;
    }
    
#foot{
    text-align: center;
}

/*--------------LATERAL ESQUERDA--------------*/

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.mySlides {display:none}
        

.liveExample { padding: 0; margin:0; background-color: gray; border: 1px solid #CCC; max-width: 655px;}
.liveExample input { font-family: Arial; }
.liveExample b { font-weight: bold; }
/*.liveExample p { margin-top: 0.9em; margin-bottom: 0.9em; }*/
.liveExample select[multiple] { width: 100%; height: 8em; }
/*.liveExample h2 { margin-top: 0.4em; }*/
