
header{
    background-color: #294A66;
    text-align: center;
}

#imglogo{
    width: 23%;
    float: left;
    padding: 6% 0% 3% 10%;
}

.space{

    height: 100%;
    width: 100%;
}

body{
    background-color: #000;
    color: #fff;
}

#logo{
    float:left;
    padding: 0%;
    width: 20%;
}

/*-------------------------------------------------------------------*/    
    #menu{
        display: inline;
        padding: 1% 5% 1% 2%;
    }
    
    #menu ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #menu ul li{
        position: relative;
        display: inline;
    }
    
    #menu ul li a{
        color: #fff;
        text-decoration: none;
        margin: 0.26em;
        display: inline-block;
        transition:background 0.2s linear 0s, color 0.2s linear 0s;
        line-height:1.7em;
        z-index: 1;
        text-align:center;
        padding: 0.4%;
        border-bottom: 0.07em solid #294A66;
    }
    
    #menu li ul{
		display: none;
    }

    #menu ul li a:hover{
		background: none;
		color: red;
		text-align:center;
		transition:background 0.2s linear 0s, color 0.2s linear 0s;
		border-bottom: 0.07em solid red;
	}

    #menu li:hover ul{
		display: block;
		position: absolute;	
		width:99%;
    }

    #menu li:hover li{
		float: none;
		font-size: 0.69em;
		font-family: 'Montserrat' , verdana, arial, 'sans serif', impact;
    }

    #menu li:hover a{
		color: #fff;
		border-bottom: 0.0em solid #fff;
    }
  
/*-------------------------------------------------------------*/
#div1{
    background-color: blue;
    width: 12%;
	height: 70em;
    float: left;

}  

main{
	background-color: green;   
    float: left;
    width: 70%;
	height: 70em;

}
    
aside{
    background-color: yellow;
    width: 18%;
    height: 70em;
	float: left;
}
    
    
    
footer{
    float: right;
    width: 100%;
    text-align: center;
    border-top: 0.07em solid red;
    }