#background_cycler{
    padding:0;
    width:90%;
    position:absolute;
}
#background_cycler img{
    position:absolute;
    z-index: 1;
    width: 57.5%;
}
#background_cycler img.active{
    z-index:3
}


